.menu-main
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
   
}
.menu
{
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav
{
    position: absolute;
    left: 25em;
    
}

.menu nav li 
{
    display: inline-block;
    padding-left: 30px;
    
}

.menu nav li a
{
    color: #4B5D68;
    transition: .2s;
}

.menu nav li.active a
{
    color: #212353;
    font-size: 13pt;
}

.menu nav li a:hover
{
    color: #212353;
    
}

.btn-login
{
    background-color: #ffffff;
    color: #212353;
    border-radius: 25px;
    font-weight: bold;
    padding: 15px 35px 15px 20px;
    box-shadow: 1px 4px 8px #0003;
    transition: all .2s ;
    z-index: 1;
}

.btn-login:hover
{
    padding: 17px 40px 17px 25px;
}

.svg-inline--fa 
{
    width: 18px;
    margin-left: 30px;
    
}

.pontos
{
    position: absolute;
    top:0;
    left: 86%;
    z-index: 0;
}

#check
{
    position: absolute;
    display: none;
    
}

.icon-btn-menu
{
   font-size: 30pt;
   cursor: pointer;
   z-index: 10000;
}

.checkbtn
{
    position: absolute;
    display: none;
    z-index: 10000;
}

@media screen and (max-width:1024px) {
        .menu
        {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
        
        nav
        {
            
            position: absolute;
            display: none;
            justify-content: center;
            align-items: baseline;
            width: 200px;
            height: 400px;
            top: 9%;
            left: 79%;
            background-color: white;
            box-shadow: 1px 1px 10px #0002;
            z-index: 45;
            
        }
        .menu nav li
        {
            display: block;
            line-height: 70px;
            font-size: 25pt;
        }
        .menu nav li.active a
        {
            font-size: 25pt;
        }
        .pontos
        {
            display: none;
        }
        .btn-login
        {
            display: none;
            position: absolute;
            top: 43%;
            left: 82%;
            z-index: 46;
        }
        .btn-login:hover
        {
            padding: 15px 35px 15px 20px;
        }
        .checkbtn
        {
            display: block;
            position: absolute;
            left: 95%;
        }

        #check:checked ~ nav
        {
            display: flex;
        }
        #check:checked ~ .btn-login
        {
            display: flex;
        }
}

/* Fim do cabeçalho */


section.One
{
    width: 100%;
    height: 100vh;

    
}

section.One div.texts
{
    width: 900px;
    height: 500px;
    margin-left: 250px;
    margin-top: 100px;
    padding-left: 30px;
}

section.One div.texts h1
{
    font-size: 50pt;
    color: #212353;
    margin-bottom: 38px;
}

section.One div.texts p
{
    line-height: 28px;
    color: #4B5D68;
    z-index: 5;
}

section.One img.Ola
{
    position: absolute;
    top: 20%;
    left: 60%;
    z-index: 0;
    pointer-events: none;
}