.menu-main
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
   
}
.menu
{
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav
{
    position: absolute;
    left: 25em;
    
}

.menu nav li 
{
    display: inline-block;
    padding-left: 30px;
    
}

.menu nav li a
{
    color: #4B5D68;
    transition: .2s;
}

.menu nav li.active a
{
    color: #212353;
    font-size: 13pt;
}

.menu nav li a:hover
{
    color: #212353;
    
}

.btn-login
{
    background-color: #ffffff;
    color: #212353;
    border-radius: 25px;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
    box-shadow: 1px 4px 8px #0003;
    transition: all .2s ;
    z-index: 1;
    margin-right: 15px;
}

.btn-login:hover
{
    padding: 17px 25px 17px 25px;
}

.svg-inline--fa 
{
    width: 18px;
    margin-left: 30px;
    
}

.pontos
{
    position: absolute;
    top:0;
    left: 86%;
    z-index: 0;
}

#check
{
    position: absolute;
    display: none;
    
}

.icon-btn-menu
{
   font-size: 30pt;
   cursor: pointer;
   z-index: 10000;
}

.checkbtn
{
    position: absolute;
    display: none;
    z-index: 10000;
}


@media screen and (max-width:1024px) {
        
        .menu-main
        {
            display: block;
            width: 100%;
        }

        .menu
        {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        nav
        {
            
            position: absolute;
            display: none;
            justify-content: center;
            align-items: baseline;
            width: 200px;
            height: 400px;
            top: 9%;
            left: 79%;
            background-color: white;
            box-shadow: 1px 1px 10px #0002;
            z-index: 45;
            
        }
        .menu nav li
        {
            display: block;
            line-height: 70px;
            font-size: 25pt;
        }
        .menu nav li.active a
        {
            font-size: 25pt;
        }
        .pontos
        {
            display: none;
        }
        .btn-login
        {
            display: none;
            position: absolute;
            top: 30%;
            left: 82.9%;
            z-index: 46;
        }
        .btn-login:hover
        {
            padding: 15px 20px 15px 20px;
        }
        .checkbtn
        {
            display: block;
            position: absolute;
            left: 95%;
        }

        #check:checked ~ nav
        {
            display: flex;
        }
        #check:checked ~ .btn-login
        {
            display: flex;
        }
}

@media screen and (max-width:900px)
{
    nav
        {
            
            position: absolute;
            display: none;
            justify-content: center;
            align-items: baseline;
            width: 200px;
            height: 400px;
            top: 9%;
            left: 75%;
            background-color: white;
            box-shadow: 1px 1px 10px #0002;
            z-index: 45;
            
        }
        .btn-login
        {
            display: none;
            position: absolute;
            top: 40%;
            left: 79%;
            z-index: 46;
        }
        .menu nav li
        {
            display: block;
            line-height: 100px;
            font-size: 25pt;
        }

}

@media screen and (max-width:400px)
{
    
    .checkbtn
    {
        left: 92%;
    }
    nav
        {
            
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: baseline;
            width: 100%;
            height: 100vh;
            left: -100%;
            top: 13%;
            background-color: white;
            box-shadow: none;
            z-index: 45;
            transition: all .3s;
        }
        .btn-login
        {
            display: flex;
            position: absolute;
            top: 75%;
            left: -36%;
            z-index: 46;
            transition: all .3s;
        }
        #check:checked ~ nav
        {
            left: 0;
        }
        #check:checked ~ .btn-login
        {
            left: 34%;
        }
}

/* Fim do cabeçalho */


section.One
{
    width: 100%;
    height: 100vh;
    
    
}

section.One div.texts
{
    width: 80%;
    height: 80%;
    margin-left: 250px;
    margin-top: 100px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

section.One div.texts h1
{
    font-size: 50pt;
    color: #212353;
    margin-bottom: 38px;
}

section.One div.texts p
{
    line-height: 28px;
    color: #4B5D68;
    z-index: 5;
    margin-bottom: 40px;
}

a.cadastrar
{
    color:white;
    background-color: #7854F7;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 8px;
}

a.cadastrar:hover
{
    box-shadow: 1px 1px 18px #7854F7;
}

section.One img.Ola
{
    position: absolute;
    left: 900px;
    z-index: 0;
    pointer-events: none;
}

@media screen and (max-width:1024px)
{
    .main-section
    {
        width: 100%;
        overflow: hidden;
        
    }
    section.One div.texts
    {
        position: relative;
        margin-left: 0;
        z-index: 5;
    }
    section.One img.Ola
    {
        left: 40%;
        z-index: 3;
        width: 300px;
    }
}

/*Fim da section One */ 

/* Início da section Two */


section.two
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 5;
}

section.two div.menu-works
{
    width: 95%;
    height: 80%;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    
    overflow: hidden;
    z-index: 5;
}
section.two div.menu-works h2
{
    color: #212353;
    font-size: 45px;
    position: absolute;
    z-index: 5;
}
section.two div.box
{
   
    width: 390px;
    height: 600px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 5;
    
}
section.two div.box p
{   
    position: absolute;
    margin-top: 450px;
    line-height: 30px;
    flex-wrap: wrap;
    color: #99AAB5;
    z-index: 5;
}

section.two div.box h3
{
    color: #272D4E;
    font-size: 25px;
    position: absolute;
    margin-top: 390px;
    z-index: 5;
}

div.box-interative
{
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
    
}

div#whats
{
    background-color: #00DA9F;
    
}
div#books
{
    background-color: #7953F7;
}
div#house
{
    background-color: #F063B8;
}

img.ponto-verde
{
    position: relative;
    left: 75px;
    top: 35px;
    z-index: 1;
    pointer-events: none;
    width: 250px;
    height: 370px;
}

img.ponto-azul
{
    position: relative;
    top: 113px;
    left: 73px;
    z-index: 1;
    pointer-events: none;
}

img.ponto-rosa
{
    position: relative;
    top:48px;
    left: 78px;
    z-index: 1;
    pointer-events: none;
    width: 250px;
    height: 350px;
}

@media screen and (max-width: 1080px) {
    section.two
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        z-index: 5;
    }
    section.two div.menu-works{
        display:inline-block;
        width: 50%;
        
    }
    section.two div.box{
        margin: 0;
        padding: 0;
        
    }
    section.two div.box p{
        font-size: 20pt;
    }
}

@media screen and (max-width:400px) {
    section.two{
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin: 38% 0 0 0;
    }
    section.two div.menu-works{
        
        padding: 0;
        width: 100%;
        
        
    }

    div.box{
        margin-top: 15px;
        padding: 0;
        width: 0;
        
    }

}

.footer
{
    width: 100%;
    height:150vh;
    display: flex;
}

.img-footer
{
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
}